@using Microsoft.AspNetCore.Identity
@using WebCoreAppFramework.Authorization
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {

            @if (User.Claims.SingleOrDefault(x => x.Value == Permissions.AdminUser.Read) != null)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Site Admin</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item " asp-area="SiteAdmin" asp-controller="User" asp-action="Index">Users Admin</a>
                        <a class="dropdown-item " asp-area="SiteAdmin" asp-controller="Tenants" asp-action="Index">Tenants Admin</a>
                        <a class="dropdown-item " asp-area="SiteAdmin" asp-controller="Roles" asp-action="Index">Roles Admin</a>
                        <a class="dropdown-item " asp-area="SiteAdmin" asp-controller="Claims" asp-action="Index">Claims Admin</a>
                    </div>
                </li>



            }




            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>